Repository ietf-wg-cellar/matroska-specification, pull requests merged in 2019-07, with the labels that each got.

#328 Non empty namespace
  ebml_matroska.xml
  transforms/ebml_schema2html.xsl
  transforms/ebml_schema2markdown4rfc.xsl
Labels: XML Schema, formatting

#326 Document rotation
  notes.md
Labels: clarifications, spec_main

#332 Update .gitignore
  .gitignore
Labels: XML Schema

#325 Sync ebml matroska with ebml schema definition
  ebml_matroska.xml
  transforms/ebml_schema2clean.xsl
Labels: XML Schema, formatting, spec_main, webm
