Repository ietf-wg-cellar/matroska-specification, pull requests merged in 2021-03, with the labels that each got.

#455 Clarify semantics of newly added flags elements
  ebml_matroska.xml
Labels: XML Schema, bug, clarifications, spec_main

#462 Add a type to extensions in the EBML Schema
  ebml_matroska.xml
Labels: XML Schema, bug, spec_main

#460 fix power of two RFC markdown
  ebml_matroska.xml
Labels: XML Schema, bug, spec_main

#459 Remove the "1 bit" mention in the specification
  ebml_matroska.xml
Labels: clarifications, spec_main

#465 remove commented part (unused) of ebml_matroska.xml
  ebml_matroska.xml
Labels: XML Schema, bug, formatting

#342 add more chapter flag explanations
  chapters.md
  ebml_matroska.xml
Labels: clarifications, enhancement, spec_main

#468 fix SHOULD NOT rfc definition
  subtitles.md
Labels: bug, format addition, spec_main

#451 Make the TrackEntry\Language mandatory
  ebml_matroska.xml
Labels: bug, enhancement, spec_main
