Repository ietf-wg-cellar/matroska-specification, pull requests merged in 2025-04, with the labels that each got.

#992 `outile colour` > `outline color`
  cellar-codec/subtitles.md
Labels: bug, spec_codecs

#966 make less normative reference to official tag reasons
  cellar-tags/tagging.md
Labels: clarifications, spec_tags

#964 reword the LYRICS text
  matroska_tags.xml
Labels: clarifications, spec_tags

#963 turn the ADDRESS country code into a MAY
  matroska_tags.xml
Labels: clarifications, spec_tags

#962 make the INSTRUMENTS always a child of other tags
  matroska_tags.xml
Labels: clarifications, spec_tags

#984 turn the BSID SHOULD into BCP14
  cellar-codec/codec_specs.md
Labels: clarifications, spec_codecs

#983 remove redundant audio codec mapping rule
  cellar-codec/codec_specs.md
Labels: spec_codecs

#976 refer to the Matroska specification as RFC9559
  cellar-codec/index_codec.md
Labels: spec_codecs

#977 turn rules for new codecs as mandatory
  cellar-codec/codec_specs.md
Labels: spec_codecs

#978 add "i.e." to EBML path notice
  cellar-codec/codec_specs.md
Labels: spec_codecs

#985 reword image subtitle intro
  cellar-codec/subtitles.md
Labels: clarifications, spec_codecs

#988 misc. SSA sections cleanup
  cellar-codec/subtitles.md
Labels: clarifications, spec_codecs

#987 reword multiple language VobSub support
  cellar-codec/subtitles.md
Labels: clarifications, spec_codecs

#989 make the Block Additional Mappings the way to store BlockMore
  cellar-codec/block_additional_mappings_intro.md
Labels: clarifications, spec_codecs

#990 allocate codec IDs as First Come First Served
  cellar-codec/codec_iana.md
Labels: enhancement, spec_codecs

#865 add EBU R128 loudness/peak value tags
  cellar-tags/rfc_backmatter_tags.md
  matroska_tags.xml
Labels: format addition, spec_tags

#937 fix SMPTE ST12-1 bits interpretation
  cellar-codec/block_additional_mappings/smpte-st12-1-timecode.md
Labels: bug, clarifications, spec_codecs

#994 add a proper V_MS/VFW/FOURCC description
  cellar-codec/codec_specs.md
Labels: bug, spec_codecs

#1001 remove comment in vobsub example
  cellar-codec/subtitles.md
Labels: clarifications, spec_codecs

#996 Clarification about when CodecPrivate is mandatory
  cellar-codec/codec_specs.md
Labels: enhancement, spec_codecs

#997 reword superseded to clarify which replaces which
  cellar-codec/codec_specs.md
Labels: clarifications, spec_codecs

#998 ensure CodecIDs don't use values already in the registry
  cellar-codec/codec_specs.md
Labels: clarifications, spec_codecs

#1002 do not use VobSub timestamps in the bistream
  cellar-codec/subtitles.md
Labels: clarifications, spec_codecs

#1000 allow SimpleBlock for subtitles if there's a DefaultDuration
  cellar-codec/subtitles.md
Labels: clarifications, spec_codecs

#999 the S_ASS CodecID is found in legacy media containers
  cellar-codec/codec_specs.md
Labels: clarifications, spec_codecs
